extends ../../components/skeleton

include ../../components/auth

block head
    // TODO

    link(href='css/auth.css' rel='stylesheet')

block body
    .container.cs-register-form
        +auth-form-header(erb('l.auth.register_total_form_title'))
        .row
            .col-md-4.col-md-offset-2.cs-register-block
                h2!= erb('l.auth.register_form_title')
                +input('email',  'email',    erb('l.auth.email'))
                +input('pass',   'password', erb('l.auth.pass'))
                +input('pass2',  'password', erb('l.auth.pass_again'))
                +chechbox('term').cs-term
                    != erb('l.auth.term_accept')
                    a.cs-term-link(href='/term' target='_BLANK')!= ' ' + erb('l.auth.terms')
                +button('register', erb('l.auth.register_send')).btn-lg.btn-block.btn-primary.cs-register
            .clearfix.visible-xs
            hr.visible-xs
            .col-md-4.cs-login-block
                h2!= erb('l.auth.already_acc')
                p!= erb('l.auth.can_login')
                +button-link('login', '/login', erb('l.auth.login')).btn-lg.btn-block.btn-primary

block scripts
    //- no scripts