extends ../../components/skeleton

include ../../components/auth

block head
    // TODO

    link(href='css/auth.css' rel='stylesheet')

block body
    .container.cs-register-form
        +auth-form-header('Регистрация в CryptoStarter')
        .row
            .col-md-4.col-md-offset-2.cs-register-block
                h2 Регистрация
                +input('email',  'email',     'Адрес вашей электронной почты')
                +input('pass',   'password',  'Ваш пароль')
                +input('pass2',  'password', 'Повторите пароль')
                +chechbox('term').cs-term
                    | Я согласен с 
                    a.cs-term-link(href='/term' target='_BLANK') условиями использования
                +button('register', 'Зарегистрироваться').btn-lg.btn-block.btn-primary.cs-register
            .clearfix.visible-xs
            hr.visible-xs
            .col-md-4.cs-login-block
                h2 Уже есть аккаунт?
                p Вы можете войти.
                +button-link('login', '/login', 'Войти').btn-lg.btn-block.btn-primary

block scripts
    //