extends ../../components/skeleton

block head
    // TODO

    link(href='css/profile.css' rel='stylesheet')

block body
    .container.cs-profile
        .row
            .col-md-8.col-md-offset-2
                h1 Oleg Pavlov
        .row
            .col-md-3.col-md-offset-2
                img.cs-photo(src='img/team/oleg.jpg')
            .col-md-5
                p.cs-about.
                    Пару слов о себе. Почему бы не написать пару слов о себе. Почему бы не написать пару слов о
                    себе в этой графе о себе. Пару слов о себе в этой графе. Пару слов о себе.
        .row.cs-main-controls
            .col-md-8.col-md-offset-2
                hr
                .text-center
                    +button-with-icon('edit-profile', 'Редактировать профиль', 'user').btn-primary
                    +button-with-icon('edit-security', 'Настройки безопасности', 'lock').btn-primary
                    +button-with-icon('create-project', 'Создать проект', 'plus').btn-primary
                hr
        .row#main-edit-forms
            .col-md-8.col-md-offset-2
                #edit-profile-form.well.hidden
                    +input('user-name', 'text', 'Имя', 'Ваше имя')
                    +textarea(
                        'user-description',
                        'В случае любви к анонимность - оставьте поле пустым',
                        'Ваш рассказ о себе'
                    )
                    +input('user-photo', 'file', '', 'Ваше фото')
                    hr
                    +button('save-about', 'Сохранить').pull-right.btn-primary
                    +button('cancel-about', 'Отменить').pull-right.cs-global-fix-btn-margin
                    .clearfix
                #edit-security-form.well.hidden
                    h5: strong Смена почты
                    +input('new-email', 'email', 'Новая почта')
                    +button('change-email', 'Сохранить').pull-right.btn-primary
                    .clearfix
                    hr
                    h5: strong Смена пароля
                    +input('current-pass', 'password', 'Текущий пароль')
                    +input('new-pass', 'password', 'Новый пароль')
                    +input('new-pass2', 'password', 'Новый пароль ещё раз')
                    +button('change-password', 'Сохранить').pull-right.btn-primary
                    .clearfix
                    hr
                    h5: strong Двухфакторная авторизация
                    p Здесь будет возможность активировать 2х-факторную авторизацию от Google.
                    hr
                    +button('close-security', 'Закрыть').pull-right
                    .clearfix
        .row
            .col-md-8.col-md-offset-2
                h3 Проекты
                table#projects-table.table
                    tr
                        th #
                        th Проект
                        th Описание
                        th
                    tr
                        td 1
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                        td
                            +button-icon('edit-project-1', 'pencil').btn-primary.cs-edit
                    tr
                        td 2
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                        td
                            +button-icon('edit-project-2', 'pencil').btn-primary.cs-edit
                    tr
                        td 3
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                        td
                            +button-icon('edit-project-3', 'pencil').btn-primary.cs-edit
                h3 Проспонсированно
                table.table
                    tr
                        th #
                        th Проект
                        th Описание
                    tr
                        td 1
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                    tr
                        td 2
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                    tr
                        td 3
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                    tr
                        td 4
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                    tr
                        td 5
                        td Всемирный атлас кофе
                        td Знаковая книга о кофе одного из самых известных и передовых профессионалов индустрии.
                        
block scripts
    //