mixin auth-form-header(title)
    .row
        .col-md-4.col-md-offset-4
            img(src='img/logo/origin.svg' width='50%').center-block
            h1!= title
    .row
        .col-md-8.col-md-offset-2
            hr