mixin lang-tabs(id)
    ul.nav.nav-pills(id=id)&attributes(attributes)
        +tab(id + '-en', 'ENG').active
        +tab(id + '-de', 'DE')
        +tab(id + '-fr', 'FR')
        +tab(id + '-ru', 'РУС')
        +tab(id + '-ch', '中文')
        +tab(id + '-ar', 'لعربية')

mixin lang-tabs-column(id)
    .col-md-1
        +lang-tabs(id, prefix).nav-stacked