mixin langs
    +menu-item('#',   'ENG')&attributes(attributes)
    +menu-item('#', 'DE')&attributes(attributes)
    +menu-item('#', 'FR')&attributes(attributes)
    +menu-item('#', 'РУС')&attributes(attributes)
    +menu-item('#', '中文')&attributes(attributes)
    +menu-item('#', 'لعربية')&attributes(attributes)