include base

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

        //- Google
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-73371848-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-73371848-1');

        block head

        link(href='css/theme.css' rel='stylesheet')
        link(href='css/all.css'   rel='stylesheet')

        link(rel='icon' type='image/png' href='img/logo/16.png' sizes='16x16')
        link(rel='icon' type='image/png' href='img/logo/32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='img/logo/96.png' sizes='96x96')

        link(rel='apple-touch-icon' href='img/logo/120.png')
        link(rel='apple-touch-icon' href='img/logo/180.png' sizes='180x180')
        link(rel='apple-touch-icon' href='img/logo/152.png' sizes='152x152')
        link(rel='apple-touch-icon' href='img/logo/167.png' sizes='167x167')
        
    body
        block body

        script(src='js/lib/fixes.js')
        script(src='js/lib/jquery.js')
        script(src='js/lib/bootstrap.js')

        - var id = 'error-modal'
        +window(id)
            +window-header(id, erb('l.error'))
            +window-body(id)
            +window-footer(id)
                +window-button-ok

        block scripts

        script(src='js/lib/fixes-after.js')