@import url(
	'https://fonts.googleapis.com/css?family=' +
	'Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|' +
	'PT+Sans:400,700,400italic,700italic|' +
	'Roboto+Condensed:300,400,700,300italic,400italic,700italic'
);

html {
	background-color: #070825;
}

body {
	padding-top: 88px;
}

.cs-pointer {
	cursor: pointer;
}

.cs-brand-main-color {
	color: #0dbff2;
}

.cs-global-fix-btn-margin {
	margin-right: 4px;
}

.cs-main_menu-logo {
	width: 70px;
	margin-top: 8px;
	margin-left: 20px;
}

@media (max-width: 767px) {
	body {
		padding-top: 55px;
	}

	.navbar {
		min-height: 45px;
	}
	
	.cs-main_menu-logo {
		width: 40px;
	}

	.btn.navbar-toggle {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.cs-footer {
	background-color: rgb(7, 8, 37);
	margin-top: 50px;
	padding: 50px 0;
	color: white;

	a {
		color: white;
	}

	.cs-copyright-col {
		text-align: center;
		padding-top: 40px;

		.cs-copyright {
			font-size: 150%;
		}
	}
}

.to-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	border: 3px solid transparent;
	cursor: pointer;
	font-size: 24px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	transition: all .5s;
	z-index: 999;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.glyphicon {
		line-height: 39px;
		padding-left: 2px;
	}
}

.cs-social {
	width: 85px;
	height: 85px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.3;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}

	&.cs-linked-in {
		background: url('../img/social/linkedin.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-facebook {
		background: url('../img/social/facebook.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-telegram {
		background: url('../img/social/telegram.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-twitter {
		background: url('../img/social/twitter.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-mail {
		background: url('../img/social/mail.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-social-small {
		width: 40px;
		height: 40px;
		background-size: 40px;
	}
}

.cs-social-bright .cs-social {
	opacity: 0.6;
	transition: opacity 0.3s;

	&:hover {
		opacity: 1;
	}
}

@media (max-width: 767px) {
	.cs-footer .cs-social {
		opacity: 0.8;
	}
}