@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|PT+Sans:400,700,400italic,700italic|Roboto+Condensed:300,400,700,300italic,400italic,700italic");
body {
  padding-top: 88px; }

.tparrows {
  display: none; }

.tp-bannertimer {
  display: none; }

.cs-brand-main-color, .cs-block-title-icon {
  color: #0dbff2; }

.cs-main_menu-logo {
  width: 70px;
  margin-top: 8px;
  margin-left: 20px; }

@media (max-width: 767px) {
  body {
    padding-top: 55px; }

  .navbar {
    min-height: 45px; }

  .cs-main_menu-logo {
    width: 40px; }

  .btn.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px; } }
.cs-wow-header .cs-wow-fix-loader {
  width: 100%;
  height: 700px;
  position: absolute;
  background-color: #070825;
  z-index: 20000; }
.cs-wow-header .cs-wow-slider {
  height: 700px;
  overflow: hidden; }
  .cs-wow-header .cs-wow-slider .cs-wow-logo-name {
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    font-family: 'PT Sans';
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 0 25px 0 23px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white; }
  .cs-wow-header .cs-wow-slider .cs-wow-main-text {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Roboto Condensed';
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 0 40px;
    border: 0 none white; }
  .cs-wow-header .cs-wow-slider .cs-wow-sub-text {
    font-size: 36px;
    line-height: 60px;
    font-weight: 300;
    font-family: 'Roboto Condensed';
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 0 40px;
    border: 0 none white; }
.cs-wow-header .cs-wow-mobile-container {
  background-color: #070825; }
  .cs-wow-header .cs-wow-mobile-container .cs-wow-logo-name-mobile {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 300%;
    padding: 30px 0 0;
    color: white; }
  .cs-wow-header .cs-wow-mobile-container .cs-wow-main-text-mobile {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 200%;
    padding: 10px 0;
    color: white; }
  .cs-wow-header .cs-wow-mobile-container .cs-wow-sub-text-mobile {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 130%;
    padding: 0 0 50px;
    color: white; }

.cs-title-line {
  display: block;
  width: 100%;
  height: 10px;
  margin: 9px 0 15px;
  background: url(../img/title-line-label.png) center top no-repeat;
  border-bottom: 1px solid #f0f0f0; }

h2.cs-title {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

.cs-block-title-icon {
  font-size: 48px;
  padding-top: 48px; }

@media (max-width: 767px) {
  h2.cs-title {
    font-size: 24px; } }
.cs-footer {
  background-color: #070825;
  margin-top: 50px;
  padding: 50px 0;
  color: white; }
  .cs-footer a {
    color: white; }
  .cs-footer .cs-copyright-col {
    text-align: center;
    padding-top: 40px; }
    .cs-footer .cs-copyright-col .cs-copyright {
      font-size: 150%; }

.to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  transition: all .5s;
  z-index: 999; }
  .to-top:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .to-top .glyphicon {
    line-height: 39px;
    padding-left: 2px; }

.cs-social {
  width: 85px;
  height: 85px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.3;
  transition: opacity 0.5s; }
  .cs-social:hover {
    opacity: 1; }
  .cs-social.cs-linked-in {
    background: url("../img/social/linkedin.svg") no-repeat;
    background-size: 85px; }
  .cs-social.cs-facebook {
    background: url("../img/social/facebook.svg") no-repeat;
    background-size: 85px; }
  .cs-social.cs-telegram {
    background: url("../img/social/telegram.svg") no-repeat;
    background-size: 85px; }
  .cs-social.cs-twitter {
    background: url("../img/social/twitter.svg") no-repeat;
    background-size: 85px; }
  .cs-social.cs-mail {
    background: url("../img/social/mail.svg") no-repeat;
    background-size: 85px; }
  .cs-social.cs-social-small {
    width: 40px;
    height: 40px;
    background-size: 40px; }

.cs-social-bright .cs-social {
  opacity: 0.6;
  transition: opacity 0.3s; }
  .cs-social-bright .cs-social:hover {
    opacity: 1; }

@media (max-width: 767px) {
  .cs-footer .cs-social {
    opacity: 0.8; } }
.cs-roadmap-point {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #f0f0f0;
  border-radius: 20px;
  padding: 18px 28px; }
  .cs-roadmap-point.cs-roadmap-marked {
    border: 5px solid #0dbff2; }
  .cs-roadmap-point.cs-roadmap-important {
    border-color: #a6a6a6; }

/*# sourceMappingURL=all.css.map */
