@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|PT+Sans:400,700,400italic,700italic|Roboto+Condensed:300,400,700,300italic,400italic,700italic");
body {
  padding-top: 88px; }

.tparrows {
  display: none; }

.tp-bannertimer {
  display: none; }

.cs-brand-main-color {
  color: #0dbff2; }

.cs-main_menu-logo {
  width: 70px;
  margin-top: 8px;
  margin-left: 20px; }

@media (max-width: 767px) {
  body {
    padding-top: 55px; }

  .navbar {
    min-height: 45px; }

  .cs-main_menu-logo {
    width: 40px; }

  .btn.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px; } }
.cs-wow-header .cs-wow-logo-name {
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  font-family: 'PT Sans';
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 0 25px 0 23px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid white; }
.cs-wow-header .cs-wow-main-text {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  font-family: 'Roboto Condensed';
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 0 40px;
  border: 0 none white; }
.cs-wow-header .cs-wow-sub-text {
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
  font-family: 'Roboto Condensed';
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 0 40px;
  border: 0 none white; }
.cs-wow-header .cs-wow-mobile-container {
  background-color: #070825; }
  .cs-wow-header .cs-wow-mobile-container .cs-wow-logo-name-mobile {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 300%;
    padding: 30px 0 0;
    color: white; }
  .cs-wow-header .cs-wow-mobile-container .cs-wow-main-text-mobile {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 200%;
    padding: 10px 0;
    color: white; }
  .cs-wow-header .cs-wow-mobile-container .cs-wow-sub-text-mobile {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 130%;
    padding: 0 0 50px;
    color: white; }

.cs-title-line {
  display: block;
  width: 100%;
  height: 10px;
  margin: 9px 0 15px;
  background: url(../img/title-line-label.png) center top no-repeat;
  border-bottom: 1px solid #f0f0f0; }

h2.cs-title {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

@media (max-width: 767px) {
  h2.cs-title {
    font-size: 24px; } }
.cs-footer {
  background-color: #373a3f;
  margin-top: 50px;
  padding: 50px 0;
  color: white; }
  .cs-footer a {
    color: white; }
  .cs-footer .cs-copyright-col {
    text-align: center;
    padding-top: 40px; }
    .cs-footer .cs-copyright-col .cs-copyright {
      font-size: 150%; }

.to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  transition: all .5s;
  z-index: 999; }
  .to-top:hover {
    background-color: rgba(0, 0, 0, 0.4); }
  .to-top .glyphicon {
    line-height: 39px;
    padding-left: 2px; }

/*# sourceMappingURL=all.css.map */
