$brand-color: #0dbff2;

@import url(
	'https://fonts.googleapis.com/css?family=' +
	'Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic|' +
	'PT+Sans:400,700,400italic,700italic|' +
	'Roboto+Condensed:300,400,700,300italic,400italic,700italic'
);

body {
	padding-top: 88px;
}

.rtl {
	direction: rtl;

	.cs-comics-row:not(.cs-single-slide) > div {
		float: right;
	}
}

@media (max-width: 767px) {
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		box-shadow: 0 -20px 20px -20px rgba(142, 142, 142, 0.95) inset;
		max-height: 320px;
	}
}

.tparrows {
	display: none;
}

.tp-bannertimer {
	display: none;
}

.cs-pointer {
	cursor: pointer;
}

.cs-brand-main-color {
	color: $brand-color;
}

.cs-main_menu-logo {
	width: 70px;
	margin-top: 8px;
	margin-left: 20px;
}

@media (max-width: 767px) {
	body {
		padding-top: 55px;
	}

	.navbar {
		min-height: 45px;
	}
	
	.cs-main_menu-logo {
		width: 40px;
	}

	.btn.navbar-toggle {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.cs-wow-header {

	.cs-wow-fix-loader {
		width: 100%;
		height: 700px;
		position: absolute;
		background-color: rgb(7, 8, 37);
		z-index: 20000;
	}

	.cs-wow-slider {
		height: 700px;
		overflow: hidden;

		.cs-wow-logo-name {
			font-size: 72px;
			line-height: 80px;
			font-weight: 700;
			font-family: 'PT Sans';
			color: rgb(255, 255, 255);
			text-decoration: none;
			background-color: transparent;
			padding: 0 25px 0 23px;
			border-radius: 5px 5px 5px 5px;
			border: 1px solid rgb(255, 255, 255);
		}

		.cs-wow-main-text {
			font-size: 48px;
			line-height: 60px;
			font-weight: 700;
			font-family: 'Roboto Condensed';
			color: rgb(255, 255, 255);
			text-decoration: none;
			background-color: transparent;
			padding: 0 40px;
			border: 0 none rgb(255, 255, 255);
		}
		.cs-wow-sub-text {
			font-size: 36px;
			line-height: 60px;
			font-weight: 300;
			font-family: 'Roboto Condensed';
			color: rgb(255, 255, 255);
			text-decoration: none;
			background-color: transparent;
			padding: 0 40px;
			border: 0 none rgb(255, 255, 255);
		}
	}

	.cs-wow-mobile-container {
		background-color: rgb(7, 8, 37);

		.cs-wow-logo-name-mobile {
			font-family: 'PT Sans';
			font-weight: 700;
			font-size: 300%;
			padding: 30px 0 0;
			color: white;
		}

		.cs-wow-main-text-mobile {
			font-family: 'Roboto Condensed';
			font-weight: 700;
			font-size: 200%;
			padding: 10px 0;
			color: white;
		}

		.cs-wow-sub-text-mobile {
			font-family: 'Roboto Condensed';
			font-weight: 300;
			font-size: 130%;
			padding: 0 0 50px;
			color: white;
		}
	}
}

.cs-title-line {
	display: block;
	width: 100%;
	height: 10px;
	margin: 9px 0 15px;
	background: url(../img/title-line-label.png) center top no-repeat;
	border-bottom: 1px solid #f0f0f0;
}

h2.cs-title {
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.cs-block-title-icon {
	@extend .cs-brand-main-color;
	font-size: 48px;
	padding-top: 48px;
}

@media (max-width: 767px) {
	h2.cs-title {
		font-size: 24px;
	}
}

.cs-footer {
	background-color: rgb(7, 8, 37);
	margin-top: 50px;
	padding: 50px 0;
	color: white;

	a {
		color: white;
	}

	.cs-copyright-col {
		text-align: center;
		padding-top: 40px;

		.cs-copyright {
			font-size: 150%;
		}
	}
}

.to-top {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	border: 3px solid transparent;
	cursor: pointer;
	font-size: 24px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 25px;
	transition: all .5s;
	z-index: 999;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.glyphicon {
		line-height: 39px;
		padding-left: 2px;
	}
}

.cs-social {
	width: 85px;
	height: 85px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.3;
	transition: opacity 0.5s;

	&:hover {
		opacity: 1;
	}

	&.cs-linked-in {
		background: url('../img/social/linkedin.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-facebook {
		background: url('../img/social/facebook.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-telegram {
		background: url('../img/social/telegram.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-twitter {
		background: url('../img/social/twitter.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-mail {
		background: url('../img/social/mail.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-bitcointalk {
		background: url('../img/social/bitcointalk.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-github {
		background: url('../img/social/github.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-xing {
		background: url('../img/social/xing.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-gplus {
		background: url('../img/social/gplus.svg') no-repeat;
		background-size: 85px;
	}

	&.cs-social-small {
		width: 40px;
		height: 40px;
		background-size: 40px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.cs-social-bright .cs-social {
	opacity: 0.6;
	transition: opacity 0.3s;

	&:hover {
		opacity: 1;
	}
}

@media (max-width: 767px) {
	.cs-footer .cs-social {
		opacity: 0.8;
	}
}

.cs-presentation {
	.cs-video {
		width: 854px;
		height: 480px;
	}

	.cs-social-bright {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

@media (max-width: 900px) {
	.cs-presentation .cs-video {
		width: 100%;
		height: auto;
	}
}

.cs-comics-row {
	.cs-present-img {
		width: 360px;
		height: 240px;
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 0 0 30px #dedede;

		&-double {
			width: 500px;
			height: 340px;
		}
	}

	p {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.cs-comics-row .cs-present-img  {
		width: 100%;
		height: auto;
	}
}


.cs-roadmap-point {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px solid #f0f0f0;
	border-radius: 20px;
	padding: 18px 28px;

	&.cs-roadmap-marked {
		border: 5px solid $brand-color;
	}

	&.cs-roadmap-important {
		border-color: rgb(166, 166, 166);
	}
}

.cs-media-item {
	margin-bottom: 30px;
}

.cs-ico-date {
	font-size: 570%;
	font-family: 'Roboto Condensed';
}

.cs-ico-img {
	width: 200px;
	height: 200px;
}

.cs-buy-button {
	padding: 15px 50px;
}

.cs-progress-row {
	padding-top: 50px;
	padding-bottom: 50px;

	.cs-ico-progress {
		margin-bottom: 0;
	}
}

.cs-comodo {
	margin-top: -30px;

	.cs-positive-ssl {
		margin-top: -10px;
	}
}

.cs-ico-instruction-logo {
	margin-top: 25px;

	img {
		width: 50px;
		height: 50px;
	}

	.title {
		padding-left: 10px;
	}
}

.cs-team-row {
	margin-bottom: 35px;
}

@media (max-width: 767px) {
	.cs-team-row {
		text-align: center;
		margin-bottom: 0;

		img {
			width: 50%;
		}
		
		.cs-column {
			padding-bottom: 25px;
		}
	}

	.cs-docs .btn {
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
	}

	.cs-contract-address {
		font-size: 70%;
	}

	.cs-progress-row {
		padding-top: 35px;
	}

	.cs-comodo {
		margin-top: -5px;
	}
}