.cs-auth-form {
	margin-top: 30px;
	margin-bottom: 90px;
}

.cs-login-form {
	@extend .cs-auth-form;

	.cs-login-block {
		padding-right: 50px;
		border-right: 1px solid #eeeeee;
	}

	.cs-register-block {
		padding-left: 50px;
	}
}

.cs-restore-form {
	@extend .cs-auth-form;
}

.cs-register-form {
	@extend .cs-auth-form;

	.cs-register-block {
		padding-right: 50px;
		border-right: 1px solid #eeeeee;
	}

	.cs-login-block {
		padding-left: 50px;
	}
}

.cs-register-project-form {
	@extend .cs-auth-form;
}

.cs-register-form .cs-term,
.cs-register-project-form .cs-term {
	margin-top: 15px;
	margin-bottom: 15px;

	.cs-term-link {
		color: #333333;
		text-decoration: underline;
	}
}