.cs-form {
	padding-top: 50px;

	.cs-top-logo {
		width: 25%;
	}

	.cs-video-input {
		margin-bottom: 0;
	}

	.cs-faq-table {
		margin-bottom: 0;

		th {
			vertical-align: bottom;
		}

		.form-group {
			margin-bottom: 0;
		}

		.cs-qa-num {
			font-weight: bold;
			line-height: 250%;
		}
	}
}

.cs-form-all {
	padding-top: 20px;
}