extends ../../components/skeleton

block head
    meta(name='keywords'    content='CryptoStarter, crowdfunding, blockchain, IdeaCoin')
    meta(name='description' content='CryptoStarter landing')
    meta(name='author'      content='CryptoStarter')
    meta(name='google-site-verification' content='uLVMTAgFc-Fk-WwmbPbjMbgwNyaHdxveXIqgJl3hmRw')

    link(href='css/wow-slider.css' rel='stylesheet')

    title CryptoStarter

block body
    .container
        h1 coming soon

block scripts
    //- no scripts
