<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109290418-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109290418-1');
      
    </script>
    <meta name="keywords" content="CryptoStarter, crowdfunding, blockchain, IdeaCoin">
    <meta name="description" content="CryptoStarter landing">
    <meta name="author" content="CryptoStarter">
    <meta name="google-site-verification" content="uLVMTAgFc-Fk-WwmbPbjMbgwNyaHdxveXIqgJl3hmRw">
    <link href="css/wow-slider.css" rel="stylesheet">
    <title>CryptoStarter</title>
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo/16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/logo/32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/logo/96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="img/logo/120.png">
    <link rel="apple-touch-icon" href="img/logo/180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="img/logo/152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/logo/167.png" sizes="167x167">
  </head>
  <body>
    <div class="container">
      <h1>coming soon</h1>
    </div>
    <script src="js/lib/fixes.js"></script>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-title">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="error-modal-title"><%= l.error %>
            </h4>
          </div>
          <div class="modal-body" id="error-modal-body">
          </div>
          <div class="modal-footer" id="error-modal-footer">
            <button class="btn btn-default" id="undefined-ok" data-dismiss="modal"><%= l.component.ok %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>