extends ../../components/skeleton

block head
    //

block body
    .container
        .row
            .col-md-8.col-md-offset-2.text-center
                h3!= erb('l.demo.terms')

block scripts
    //- no scripts