extends ../../components/skeleton

include ../../components/auth

block head
    // TODO

    link(href='css/auth.css' rel='stylesheet')

block body
    .container.cs-register-project-form
        +auth-form-header('Регистрация проекта в CryptoStarter')
        .row
            .col-md-6.col-md-offset-3
                +input('name', 'text', '', 'Имя проекта')
                +textarea('short', '', 'Краткое описание проекта')
                +input('email', 'email', '', 'Адрес вашей электронной почты')
                +input('pass', 'password', '', 'Ваш пароль')
                +input('pass2', 'password', '', 'Повторите пароль')
                +chechbox('term').cs-term
                    | Я согласен с 
                    a.cs-term-link(href='/term' target='_BLANK') условиями использования
                +button('register', 'Зарегистрировать проект').btn-lg.btn-block.btn-primary.cs-register

block scripts
    //