extends ../../components/skeleton

include ../../components/auth

block head
    // TODO

    link(href='css/auth.css' rel='stylesheet')

block body
    .container.cs-register-project-form
        +auth-form-header(erb('l.auth.register_project_total_form_title'))
        .row
            .col-md-6.col-md-offset-3
                +input('name', 'text', '', erb('l.auth.project_name'))
                +textarea('short', '', erb('l.auth.project_desc'))
                +input('email', 'email', '', erb('l.auth.email'))
                +input('pass', 'password', '', erb('l.auth.pass'))
                +input('pass2', 'password', '', erb('l.auth.pass_again'))
                +chechbox('term').cs-term
                    != erb('l.auth.term_accept')
                    a.cs-term-link(href='/term' target='_BLANK')!= ' ' + erb('l.auth.terms')
                +button('register', erb('l.auth.register_project')).btn-lg.btn-block.btn-primary.cs-register

block scripts
    //