extends ../../components/skeleton

block head
    // TODO

    link(href='css/project.css' rel='stylesheet')

block body
    .container.cs-company
        .row.cs-title
            .col-md-12
                h1 Всемирный атлас кофе
                a(href='/profile') by Oleg Pavlov
        .row.cs-header
            .col-md-8.cs-image-col
                img.cs-image(src='/img/project_stub.jpeg')

            .col-md-4.cs-info-col
                .cs-title-block
                    h2.cs-title Прогресс
                    +characteristic('earned')
                .cs-details-block
                    h3 332 IDEA
                        small  собрано
                    h3 122%
                        small  от минимальной суммы
                    h3#some-sponsors 485
                        small  спонсоров
                    h3 20 дней
                        small  осталось
                .cs-button-block
                    +button('invest', 'Поддержать').btn-lg.btn-primary.btn-block

        .row.cs-info
            .col-md-12
                hr
                ul#project-tabs.cs-tabs.nav.nav-pills
                    +tab('present', 'Презентация').active
                    +tab('faq', 'Вопрос-Ответ')
                    +tab('news', 'Новости')
                    +tab('comments', 'Комментарии')
                    +tab('exchange', 'Обменник')

            // TODO hidden on start
            .tab-content.cs-content
                +tab-panel('present').cs-content-inner.active
                    .row
                        .col-md-7
                            p(style='padding-left: 20px; color: gray;')
                                em.
                                    Все годы, которые я нахожусь в кофейной индустрии, мне хотелось найти пособие,
                                    давшее бы мне всю необходимую информацию о кофе, его происхождении, вкусе, в общем,
                                    обо всем, что подтолкнуло бы меня к покупке. Я хочу помочь людям разобраться.
                                    Резкая популяризация спешалти кофе не дала четкого понимания для обычного потребителя.
                                    Люди покупают дорогой кофе, заваривают его дома особыми способами, платят больше
                                    за чашку в кофейнях, но все равно не понимают различий. В кофейной сфере стало все
                                    так запутанно, и я хочу, чтобы книга немного прояснила ситуацию.
                                br
                                br
                                em Джеймс Хоффманн
                            br
                            p.
                                Здесь вы можете оформить предзаказ на книгу Джеймса Хоффманна "Всемирный атлас кофе"
                                по максимально низкой цене и внести свой вклад в развитие кофейной индустрии
                                в России. Чем больше книг будет заказано в этом проекте, тем больший тираж книги
                                будет издан. А значит знания о мире кофе от одного из ведущих профессионалов
                                индустрии станут доступнее. Предзаказ открыт до 20 сентября 2017 года.

                            br
                            h4 О книге

                            p.
                                «Всемирный атлас кофе» приглашает читателя в кругосветное путешествие в мир кофе. Вы узнаете всё о его происхождении, о странах - производителях и культурах, где кофе стал образом жизни. Атлас раскроет всемирный опыт употребления кофе: способы обработки зерен и методы приготовления напитков.

                            p.
                                Растения рода Coffea выращивают более 70 стран мира. Кофейный пояс охватывает экваториальную Латинскую Америку, Юго-Восточную Азию и Африку. В Колумбии, Эфиопии и Гондурасе кофе занимает первое место по экспорту и жизненно важен для экономики.

                            br
                            br
                            img(src='/img/book-demo.png' width='50%')

                            br
                            br
                            br
                            p «Всемирный атлас кофе» структурировано рассказывает о трех аспектах:
                            ul
                                li Путь производства кофе - от маленького зерна, брошенного в землю, до собранного урожая, обработки, обжарки и получения готового напитка.
                                li История употребления кофе - способы его заваривания, тонкости выбора помола и воды.
                                li Информация о производителях - характерная для каждой страны история кофейной культуры, устройство плантаций, способ обработки зерен и вкусовой профайл.

                        .col-md-4.col-md-offset-1
                            //-.well.cs-project-item  TODO - exchange
                                p
                                    strong.
                                        Проект завершил сбор средств, но вы всё ещё можете получить один из товаров,
                                        воспользуйтесь обменником.
                                    hr
                                    +button('exchange-link-btn', 'Обменник').btn-primary.btn-block
                            //-hr
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 25
                                h4 1 IDEA
                                hr
                                p Книга "Всемирный атлас кофе" с доставкой по РФ.
                                strong Включает:
                                ul
                                    li Книга в 1 экземпляре
                                strong Доставка:
                                ul
                                    li по России - 10.10.2018
                                hr
                                +button('buy-1', 'Купить').btn-primary.btn-block
                                //-hr                                                             TODO - exchange
                                //-em Сбор средст завершился, но, возможно, что-то ещё осталось в
                                    a(href='#')  обменнике.
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 18
                                h4 1.1 IDEA
                                hr
                                p Книга "Всемирный атлас кофе" с доставкой по всему миру.
                                strong Включает:
                                ul
                                    li Книга в 1 экземпляре
                                strong Доставка:
                                ul
                                    li по всему миру - 10.10.2018
                                hr
                                +button('buy-2', 'Купить').btn-primary.btn-block
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 2
                                h4 2 IDEA
                                hr
                                p Книга "Всемирный атлас кофе" с доставкой по всему миру.
                                strong Включает:
                                ul
                                    li Книга в 1 экземпляре
                                    li Подпись автора на книге
                                strong Доставка:
                                ul
                                    li по всему миру - 10.10.2018
                                hr
                                .cs-limit
                                    span.label.label-warning Осталось 8 из 10
                                +button('buy-3', 'Купить').btn-primary.btn-block
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 6
                                h4 8 IDEA
                                hr
                                p 10 книг "Всемирный атлас кофе" по специальной оптовой цене.
                                strong Включает:
                                ul
                                    li Книга в 10 экземплярах
                                strong Доставка:
                                ul
                                    li по всему миру - 10.10.2018
                                hr
                                +button('buy-4', 'Купить').btn-primary.btn-block
                                    

                +tab-panel('faq').cs-content-inner
                    .row
                        .col-md-5
                            ul.nav.nav-pills.nav-stacked
                                +tab('q1', 'Вопрос 1').active
                                +tab('q2', 'Вопрос 2')
                                +tab('q3', 'Вопрос 3')
                                +tab('q4', 'Вопрос 4')
                        .col-md-7
                            .tab-content.cs-faq-res
                                +tab-panel('q1').active
                                    p.cs-faq Ответ на вопрос 1, может быть длинным.
                                +tab-panel('q2')
                                    p.cs-faq Ответ на вопрос 2, может быть длинным.
                                +tab-panel('q3')
                                    p.cs-faq Ответ на вопрос 3, может быть длинным.
                                +tab-panel('q4')
                                    p.cs-faq Ответ на вопрос 4, может быть длинным.
                                    

                +tab-panel('news').cs-content-inner
                    .row
                        .col-md-6.col-md-offset-3
                            .cs-news-item
                                span.label.label-primary.pull-right 10.10.2017
                                h3 100 тысяч на издание книги уже собрали, но это не предел!
                                p.
                                    Друзья, мы собрали первые сто тысяч рублей!
                                    Спасибо за поддержку! Но останавливаться рано!
                                    Предзаказ на книгу можно оформить до самого конца проекта
                                    20 сентября 2017, и чем больше книг будет заказано,
                                    тем больший тираж книги будет издан.
                                    А значит знания о мире кофе от одного из ведущих
                                    профессионалов индустрии станут доступнее!
                                    Расскажите о нашем проекте в социальных сетях.

                            .cs-news-item
                                span.label.label-primary.pull-right 10.10.2017
                                h3 100 тысяч на издание книги уже собрали, но это не предел!
                                p.
                                    Друзья, мы собрали первые сто тысяч рублей!
                                    Спасибо за поддержку! Но останавливаться рано!
                                    Предзаказ на книгу можно оформить до самого конца проекта
                                    20 сентября 2017, и чем больше книг будет заказано,
                                    тем больший тираж книги будет издан.
                                    А значит знания о мире кофе от одного из ведущих
                                    профессионалов индустрии станут доступнее!
                                    Расскажите о нашем проекте в социальных сетях.

                            .cs-news-item
                                span.label.label-primary.pull-right 10.10.2017
                                h3 100 тысяч на издание книги уже собрали, но это не предел!
                                p.
                                    Друзья, мы собрали первые сто тысяч рублей!
                                    Спасибо за поддержку! Но останавливаться рано!
                                    Предзаказ на книгу можно оформить до самого конца проекта
                                    20 сентября 2017, и чем больше книг будет заказано,
                                    тем больший тираж книги будет издан.
                                    А значит знания о мире кофе от одного из ведущих
                                    профессионалов индустрии станут доступнее!
                                    Расскажите о нашем проекте в социальных сетях.

                +tab-panel('comments').cs-content-inner
                    .row
                        .col-md-8.col-md-offset-2
                            .panel.panel-warning
                                .panel-heading Комментарии доступны только для поддержавших проект.

                            .cs-send-comment-block.hidden
                                +textarea('comment', 'Комментарий...').cs-comment-area
                                +button('send-comment', 'Отправить').pull-right.btn-primary.btn-sm
                                .clearfix

                            .panel.panel-primary
                                .panel-body
                                    span.label.label-primary.pull-right 10.10.2017
                                    h5 Oleg Pavlov
                                    p Знаковая книга о кофе одного из самых известных профессионалов индустрии.

                            .panel.panel-primary
                                .panel-body
                                    span.label.label-primary.pull-right 10.10.2017
                                    h5 Oleg Pavlov
                                    p Знаковая книга о кофе одного из самых известных профессионалов индустрии.

                            .panel.panel-primary
                                .panel-body
                                    span.label.label-primary.pull-right 10.10.2017
                                    h5 Oleg Pavlov
                                    p Знаковая книга о кофе одного из самых известных профессионалов индустрии.

                +tab-panel('exchange').cs-content-inner
                    .row
                        .col-md-12
                            h3 В демо-версии обменник не доступен.

block scripts
    //