<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- TODO-->
    <link href="css/project.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo/16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/logo/32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/logo/96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="img/logo/120.png">
    <link rel="apple-touch-icon" href="img/logo/180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="img/logo/152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/logo/167.png" sizes="167x167">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a href="#"><img class="cs-main_menu-logo" src="img/logo/origin.svg"></a>
          <button class="btn btn-default navbar-toggle collapsed" id="top-menu-toggle" data-toggle="collapse" data-target="#top-menu"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" id="top-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home"><%= l.main_menu.home %></a></li>
            <li class="visible-xs"><a href="/">ENG</a></li>
            <li class="visible-xs"><a href="/de">DE</a></li>
            <li class="visible-xs"><a href="/fr">FR</a></li>
            <li class="visible-xs"><a href="/ru">РУС</a></li>
            <li class="visible-xs"><a href="/ch">中文</a></li>
            <li class="visible-xs"><a href="/ar">لعربية</a></li>
            <li class="dropdown hidden-xs"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/">ENG</a></li>
                <li><a href="/de">DE</a></li>
                <li><a href="/fr">FR</a></li>
                <li><a href="/ru">РУС</a></li>
                <li><a href="/ch">中文</a></li>
                <li><a href="/ar">لعربية</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container cs-company">
      <div class="row cs-title">
        <div class="col-md-12">
          <h1>Всемирный атлас кофе</h1><a href="#">by Oleg Pavlov</a>
        </div>
      </div>
      <div class="row cs-header">
        <div class="col-md-8 cs-image-col"><img class="cs-image" src="http://rgho.st/8tXGjMrw7/image.png"></div>
        <div class="col-md-4 cs-info-col">
          <div class="cs-title-block">
            <h2 class="cs-title">Прогресс</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 66%;" id="earned"></div>
            </div>
          </div>
          <div class="cs-details-block">
            <h3>332 IDEA<small> собрано</small></h3>
            <h3>122%<small> от минимальной суммы</small></h3>
            <h3 id="some-sponsors">485<small> спонсоров</small></h3>
            <h3>20 дней<small> осталось</small></h3>
          </div>
          <div class="cs-button-block">
            <button class="btn btn-default btn-lg btn-primary btn-block" id="invest">Поддержать
            </button>
          </div>
        </div>
      </div>
      <div class="row cs-info">
        <div class="col-md-12">
          <hr>
          <ul class="cs-tabs nav nav-pills" id="project-tabs">
            <li class="active" role="presentation"><a href="#present" aria-controls="present" role="tab" data-toggle="tab"><span class="hidden-xs">Презентация</span></a></li>
            <li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос-Ответ</span></a></li>
            <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab"><span class="hidden-xs">Новости</span></a></li>
            <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab"><span class="hidden-xs">Комментарии</span></a></li>
          </ul>
        </div>
        <!-- TODO hidden on start-->
        <div class="tab-content cs-content">
          <div class="tab-pane cs-content-inner active" id="present">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-1">
                  <ul class="nav nav-pills nav-stacked" id="lang-tabs-present">
                    <li class="active" role="presentation"><a href="#present-en" aria-controls="present-en" role="tab" data-toggle="tab"><span class="hidden-xs">ENG</span></a></li>
                    <li role="presentation"><a href="#present-de" aria-controls="present-de" role="tab" data-toggle="tab"><span class="hidden-xs">DE</span></a></li>
                    <li role="presentation"><a href="#present-fr" aria-controls="present-fr" role="tab" data-toggle="tab"><span class="hidden-xs">FR</span></a></li>
                    <li role="presentation"><a href="#present-ru" aria-controls="present-ru" role="tab" data-toggle="tab"><span class="hidden-xs">РУС</span></a></li>
                    <li role="presentation"><a href="#present-ch" aria-controls="present-ch" role="tab" data-toggle="tab"><span class="hidden-xs">中文</span></a></li>
                    <li role="presentation"><a href="#present-ar" aria-controls="present-ar" role="tab" data-toggle="tab"><span class="hidden-xs">لعربية</span></a></li>
                  </ul>
                </div>
                <div class="col-md-11">
                  <div class="tab-content">
                    <div class="tab-pane active" id="present-en">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-8">EN Большое объемное описание проекта с картинками</div>
                          <div class="col-md-4">
                            <h4>Поддержи проект</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="present-de">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-8">DE Большое объемное описание проекта с картинками</div>
                          <div class="col-md-4">
                            <h4>Поддержи проект</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="present-fr">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-8">FR Большое объемное описание проекта с картинками</div>
                          <div class="col-md-4">
                            <h4>Поддержи проект</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="present-ru">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-8">RU Большое объемное описание проекта с картинками</div>
                          <div class="col-md-4">
                            <h4>Поддержи проект</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="present-ch">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-8">CH Большое объемное описание проекта с картинками</div>
                          <div class="col-md-4">
                            <h4>Поддержи проект</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="present-ar">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-8">AR Большое объемное описание проекта с картинками</div>
                          <div class="col-md-4">
                            <h4>Поддержи проект</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane cs-content-inner" id="faq">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-1">
                  <ul class="nav nav-pills nav-stacked" id="lang-tabs-present">
                    <li class="active" role="presentation"><a href="#faq-en" aria-controls="faq-en" role="tab" data-toggle="tab"><span class="hidden-xs">ENG</span></a></li>
                    <li role="presentation"><a href="#faq-de" aria-controls="faq-de" role="tab" data-toggle="tab"><span class="hidden-xs">DE</span></a></li>
                    <li role="presentation"><a href="#faq-fr" aria-controls="faq-fr" role="tab" data-toggle="tab"><span class="hidden-xs">FR</span></a></li>
                    <li role="presentation"><a href="#faq-ru" aria-controls="faq-ru" role="tab" data-toggle="tab"><span class="hidden-xs">РУС</span></a></li>
                    <li role="presentation"><a href="#faq-ch" aria-controls="faq-ch" role="tab" data-toggle="tab"><span class="hidden-xs">中文</span></a></li>
                    <li role="presentation"><a href="#faq-ar" aria-controls="faq-ar" role="tab" data-toggle="tab"><span class="hidden-xs">لعربية</span></a></li>
                  </ul>
                </div>
                <div class="col-md-11 cs-faq-container cs-no-left-padding">
                  <div class="tab-content cs-no-left-padding">
                    <div class="tab-pane active cs-no-left-padding" id="faq-en">
                      <div class="container-fluid">
                        <div class="col-md-5 cs-no-left-padding">
                          <ul class="nav nav-pills nav-stacked" id="faq-tabs-en">
                            <li class="active" role="presentation"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 1</span></a></li>
                            <li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 2</span></a></li>
                            <li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 3</span></a></li>
                            <li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 4</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-7">
                          <div class="tab-content cs-faq-res">
                            <div class="tab-pane active" id="q1">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 1, может быть длинным EN.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q2">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 2, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q3">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 3, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q4">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 4, может быть длинным.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane cs-no-left-padding" id="faq-de">
                      <div class="container-fluid">
                        <div class="col-md-5 cs-no-left-padding">
                          <ul class="nav nav-pills nav-stacked" id="faq-tabs-de">
                            <li class="active" role="presentation"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 1</span></a></li>
                            <li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 2</span></a></li>
                            <li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 3</span></a></li>
                            <li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 4</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-7">
                          <div class="tab-content cs-faq-res">
                            <div class="tab-pane active" id="q1">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 1, может быть длинным DE.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q2">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 2, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q3">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 3, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q4">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 4, может быть длинным.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane cs-no-left-padding" id="faq-fr">
                      <div class="container-fluid">
                        <div class="col-md-5 cs-no-left-padding">
                          <ul class="nav nav-pills nav-stacked" id="faq-tabs-fr">
                            <li class="active" role="presentation"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 1</span></a></li>
                            <li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 2</span></a></li>
                            <li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 3</span></a></li>
                            <li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 4</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-7">
                          <div class="tab-content cs-faq-res">
                            <div class="tab-pane active" id="q1">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 1, может быть длинным FR.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q2">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 2, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q3">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 3, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q4">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 4, может быть длинным.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane cs-no-left-padding" id="faq-ru">
                      <div class="container-fluid">
                        <div class="col-md-5 cs-no-left-padding">
                          <ul class="nav nav-pills nav-stacked" id="faq-tabs-ru">
                            <li class="active" role="presentation"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 1</span></a></li>
                            <li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 2</span></a></li>
                            <li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 3</span></a></li>
                            <li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 4</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-7">
                          <div class="tab-content cs-faq-res">
                            <div class="tab-pane active" id="q1">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 1, может быть длинным RU.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q2">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 2, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q3">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 3, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q4">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 4, может быть длинным.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane cs-no-left-padding" id="faq-ch">
                      <div class="container-fluid">
                        <div class="col-md-5 cs-no-left-padding">
                          <ul class="nav nav-pills nav-stacked" id="faq-tabs-ch">
                            <li class="active" role="presentation"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 1</span></a></li>
                            <li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 2</span></a></li>
                            <li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 3</span></a></li>
                            <li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 4</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-7">
                          <div class="tab-content cs-faq-res">
                            <div class="tab-pane active" id="q1">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 1, может быть длинным CH.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q2">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 2, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q3">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 3, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q4">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 4, может быть длинным.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane cs-no-left-padding" id="faq-ar">
                      <div class="container-fluid">
                        <div class="col-md-5 cs-no-left-padding">
                          <ul class="nav nav-pills nav-stacked" id="faq-tabs-ar">
                            <li class="active" role="presentation"><a href="#q1" aria-controls="q1" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 1</span></a></li>
                            <li role="presentation"><a href="#q2" aria-controls="q2" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 2</span></a></li>
                            <li role="presentation"><a href="#q3" aria-controls="q3" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 3</span></a></li>
                            <li role="presentation"><a href="#q4" aria-controls="q4" role="tab" data-toggle="tab"><span class="hidden-xs">Вопрос 4</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-7">
                          <div class="tab-content cs-faq-res">
                            <div class="tab-pane active" id="q1">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 1, может быть длинным AR.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q2">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 2, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q3">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 3, может быть длинным.</p>
                              </div>
                            </div>
                            <div class="tab-pane" id="q4">
                              <div class="container-fluid">
                                <p class="cs-faq">Ответ на вопрос 4, может быть длинным.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane cs-content-inner" id="news">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-1">
                  <ul class="nav nav-pills nav-stacked" id="lang-tabs-present">
                    <li class="active" role="presentation"><a href="#news-en" aria-controls="news-en" role="tab" data-toggle="tab"><span class="hidden-xs">ENG</span></a></li>
                    <li role="presentation"><a href="#news-de" aria-controls="news-de" role="tab" data-toggle="tab"><span class="hidden-xs">DE</span></a></li>
                    <li role="presentation"><a href="#news-fr" aria-controls="news-fr" role="tab" data-toggle="tab"><span class="hidden-xs">FR</span></a></li>
                    <li role="presentation"><a href="#news-ru" aria-controls="news-ru" role="tab" data-toggle="tab"><span class="hidden-xs">РУС</span></a></li>
                    <li role="presentation"><a href="#news-ch" aria-controls="news-ch" role="tab" data-toggle="tab"><span class="hidden-xs">中文</span></a></li>
                    <li role="presentation"><a href="#news-ar" aria-controls="news-ar" role="tab" data-toggle="tab"><span class="hidden-xs">لعربية</span></a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-md-offset-3">
                  <div class="tab-content">
                    <div class="tab-pane active" id="news-en">
                      <div class="container-fluid">
                        <div class="cs-news-item"><span class="label label-primary pull-right">10.10.2017</span>
                          <h3>100 тысяч на издание книги уже собрали, но это не предел!</h3>
                          <p>
                            Друзья, мы собрали первые сто тысяч рублей!
                            Спасибо за поддержку! Но останавливаться рано!
                            Предзаказ на книгу можно оформить до самого конца проекта
                            20 сентября 2017, и чем больше книг будет заказано,
                            тем больший тираж книги будет издан.
                            А значит знания о мире кофе от одного из ведущих
                            профессионалов индустрии станут доступнее!
                            Расскажите о нашем проекте в социальных сетях.
                            
                          </p>
                        </div>
                        <div class="cs-news-item"><span class="label label-primary pull-right">10.10.2017</span>
                          <h3>100 тысяч на издание книги уже собрали, но это не предел!</h3>
                          <p>
                            Друзья, мы собрали первые сто тысяч рублей!
                            Спасибо за поддержку! Но останавливаться рано!
                            Предзаказ на книгу можно оформить до самого конца проекта
                            20 сентября 2017, и чем больше книг будет заказано,
                            тем больший тираж книги будет издан.
                            А значит знания о мире кофе от одного из ведущих
                            профессионалов индустрии станут доступнее!
                            Расскажите о нашем проекте в социальных сетях.
                            
                          </p>
                        </div>
                        <div class="cs-news-item"><span class="label label-primary pull-right">10.10.2017</span>
                          <h3>100 тысяч на издание книги уже собрали, но это не предел!</h3>
                          <p>
                            Друзья, мы собрали первые сто тысяч рублей!
                            Спасибо за поддержку! Но останавливаться рано!
                            Предзаказ на книгу можно оформить до самого конца проекта
                            20 сентября 2017, и чем больше книг будет заказано,
                            тем больший тираж книги будет издан.
                            А значит знания о мире кофе от одного из ведущих
                            профессионалов индустрии станут доступнее!
                            Расскажите о нашем проекте в социальных сетях.
                            
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="news-de">
                      <div class="container-fluid">
                        <p>2</p>
                      </div>
                    </div>
                    <div class="tab-pane" id="news-fr">
                      <div class="container-fluid">
                        <p>3</p>
                      </div>
                    </div>
                    <div class="tab-pane" id="news-ru">
                      <div class="container-fluid">
                        <p>4</p>
                      </div>
                    </div>
                    <div class="tab-pane" id="news-ch">
                      <div class="container-fluid">
                        <p>5</p>
                      </div>
                    </div>
                    <div class="tab-pane" id="news-ar">
                      <div class="container-fluid">
                        <p>6</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane cs-content-inner" id="comments">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="panel panel-warning hidden">
                    <div class="panel-heading">Комментарии доступны только для спонсоров.</div>
                  </div>
                  <div class="cs-send-comment-block">
                    <div class="form-group cs-comment-area">
                      <textarea class="form-control" id="comment" rows="3" placeholder="Комментарий..."></textarea><span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
                    </div>
                    <button class="btn btn-default pull-right btn-primary btn-sm" id="send-comment">Отправить
                    </button>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel panel-primary">
                    <div class="panel-body"><span class="label label-primary pull-right">10.10.2017</span>
                      <h5>Oleg Pavlov</h5>
                      <p>Знаковая книга о кофе одного из самых известных профессионалов индустрии.</p>
                    </div>
                  </div>
                  <div class="panel panel-primary">
                    <div class="panel-body"><span class="label label-primary pull-right">10.10.2017</span>
                      <h5>Oleg Pavlov</h5>
                      <p>Знаковая книга о кофе одного из самых известных профессионалов индустрии.</p>
                    </div>
                  </div>
                  <div class="panel panel-primary">
                    <div class="panel-body"><span class="label label-primary pull-right">10.10.2017</span>
                      <h5>Oleg Pavlov</h5>
                      <p>Знаковая книга о кофе одного из самых известных профессионалов индустрии.</p>
                    </div>
                  </div>
                  <p class="text-center">Загрузка...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/lib/fixes.js"></script>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="error-modal-title">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="error-modal-title"><%= l.error %>
            </h4>
          </div>
          <div class="modal-body" id="error-modal-body">
          </div>
          <div class="modal-footer" id="error-modal-footer">
            <button class="btn btn-default" id="undefined-ok" data-dismiss="modal"><%= l.component.ok %>
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="cs-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center"><a class="cs-social cs-mail" href="#"></a><a class="cs-social cs-linked-in" href="#"></a><a class="cs-social cs-facebook" href="#"></a><a class="cs-social cs-twitter" href="#"></a><a class="cs-social cs-telegram" href="#"></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 cs-copyright-col"><span class="cs-copyright">Copyright Crypto<span class="cs-brand-main-color">Starter</span></span></div>
        </div>
      </div>
    </footer>
    <div class="to-top hidden" id="to-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </div>
    <!---->
    <script src="js/all.js"></script>
  </body>
</html>