extends ../../components/skeleton

mixin lang-tabs(prefix)
    .col-md-1
        ul#lang-tabs-present.nav.nav-pills.nav-stacked
            +tab(prefix + '-en', 'ENG').active
            +tab(prefix + '-de', 'DE')
            +tab(prefix + '-fr', 'FR')
            +tab(prefix + '-ru', 'РУС')
            +tab(prefix + '-ch', '中文')
            +tab(prefix + '-ar', 'لعربية')

block head
    // TODO

    link(href='css/project.css' rel='stylesheet')

block body
    .container.cs-company
        .row.cs-title
            .col-md-12
                h1 Всемирный атлас кофе
                a(href='#') by Oleg Pavlov
        .row.cs-header
            .col-md-8.cs-image-col
                img.cs-image(src='http://rgho.st/8tXGjMrw7/image.png')

            .col-md-4.cs-info-col
                .cs-title-block
                    h2.cs-title Прогресс
                    +characteristic('earned')
                .cs-details-block
                    h3 332 IDEA
                        small  собрано
                    h3 122%
                        small  от минимальной суммы
                    h3#some-sponsors 485
                        small  спонсоров
                    h3 20 дней
                        small  осталось
                .cs-button-block
                    +button('invest', 'Поддержать').btn-lg.btn-primary.btn-block

        .row.cs-info
            .col-md-12
                hr
                ul#project-tabs.cs-tabs.nav.nav-pills
                    +tab('present', 'Презентация').active
                    +tab('faq', 'Вопрос-Ответ')
                    +tab('news', 'Новости')
                    +tab('comments', 'Комментарии')

            // TODO hidden on start
            .tab-content.cs-content
                +tab-panel('present').cs-content-inner.active
                    .row
                        +lang-tabs('present')
                        .col-md-11
                            .tab-content
                                +tab-panel('present-en').active
                                    .row
                                        .col-md-8
                                            | EN Большое объемное описание проекта с картинками
                                        .col-md-4
                                            h4 Поддержи проект
                                +tab-panel('present-de')
                                    .row
                                        .col-md-8
                                            | DE Большое объемное описание проекта с картинками
                                        .col-md-4
                                            h4 Поддержи проект
                                +tab-panel('present-fr')
                                    .row
                                        .col-md-8
                                            | FR Большое объемное описание проекта с картинками
                                        .col-md-4
                                            h4 Поддержи проект
                                +tab-panel('present-ru')
                                    .row
                                        .col-md-8
                                            | RU Большое объемное описание проекта с картинками
                                        .col-md-4
                                            h4 Поддержи проект
                                +tab-panel('present-ch')
                                    .row
                                        .col-md-8
                                            | CH Большое объемное описание проекта с картинками
                                        .col-md-4
                                            h4 Поддержи проект
                                +tab-panel('present-ar')
                                    .row
                                        .col-md-8
                                            | AR Большое объемное описание проекта с картинками
                                        .col-md-4
                                            h4 Поддержи проект

                +tab-panel('faq').cs-content-inner
                    .row
                        +lang-tabs('faq')
                        .col-md-11.cs-faq-container.cs-no-left-padding
                            .tab-content.cs-no-left-padding
                                +tab-panel('faq-en').active.cs-no-left-padding
                                    .col-md-5.cs-no-left-padding
                                        ul#faq-tabs-en.nav.nav-pills.nav-stacked
                                            +tab('q1', 'Вопрос 1').active
                                            +tab('q2', 'Вопрос 2')
                                            +tab('q3', 'Вопрос 3')
                                            +tab('q4', 'Вопрос 4')
                                    .col-md-7
                                        .tab-content.cs-faq-res
                                            +tab-panel('q1').active
                                                p.cs-faq Ответ на вопрос 1, может быть длинным EN.
                                            +tab-panel('q2')
                                                p.cs-faq Ответ на вопрос 2, может быть длинным.
                                            +tab-panel('q3')
                                                p.cs-faq Ответ на вопрос 3, может быть длинным.
                                            +tab-panel('q4')
                                                p.cs-faq Ответ на вопрос 4, может быть длинным.
                                +tab-panel('faq-de').cs-no-left-padding
                                    .col-md-5.cs-no-left-padding
                                        ul#faq-tabs-de.nav.nav-pills.nav-stacked
                                            +tab('q1', 'Вопрос 1').active
                                            +tab('q2', 'Вопрос 2')
                                            +tab('q3', 'Вопрос 3')
                                            +tab('q4', 'Вопрос 4')
                                    .col-md-7
                                        .tab-content.cs-faq-res
                                            +tab-panel('q1').active
                                                p.cs-faq Ответ на вопрос 1, может быть длинным DE.
                                            +tab-panel('q2')
                                                p.cs-faq Ответ на вопрос 2, может быть длинным.
                                            +tab-panel('q3')
                                                p.cs-faq Ответ на вопрос 3, может быть длинным.
                                            +tab-panel('q4')
                                                p.cs-faq Ответ на вопрос 4, может быть длинным.
                                +tab-panel('faq-fr').cs-no-left-padding
                                    .col-md-5.cs-no-left-padding
                                        ul#faq-tabs-fr.nav.nav-pills.nav-stacked
                                            +tab('q1', 'Вопрос 1').active
                                            +tab('q2', 'Вопрос 2')
                                            +tab('q3', 'Вопрос 3')
                                            +tab('q4', 'Вопрос 4')
                                    .col-md-7
                                        .tab-content.cs-faq-res
                                            +tab-panel('q1').active
                                                p.cs-faq Ответ на вопрос 1, может быть длинным FR.
                                            +tab-panel('q2')
                                                p.cs-faq Ответ на вопрос 2, может быть длинным.
                                            +tab-panel('q3')
                                                p.cs-faq Ответ на вопрос 3, может быть длинным.
                                            +tab-panel('q4')
                                                p.cs-faq Ответ на вопрос 4, может быть длинным.
                                +tab-panel('faq-ru').cs-no-left-padding
                                    .col-md-5.cs-no-left-padding
                                        ul#faq-tabs-ru.nav.nav-pills.nav-stacked
                                            +tab('q1', 'Вопрос 1').active
                                            +tab('q2', 'Вопрос 2')
                                            +tab('q3', 'Вопрос 3')
                                            +tab('q4', 'Вопрос 4')
                                    .col-md-7
                                        .tab-content.cs-faq-res
                                            +tab-panel('q1').active
                                                p.cs-faq Ответ на вопрос 1, может быть длинным RU.
                                            +tab-panel('q2')
                                                p.cs-faq Ответ на вопрос 2, может быть длинным.
                                            +tab-panel('q3')
                                                p.cs-faq Ответ на вопрос 3, может быть длинным.
                                            +tab-panel('q4')
                                                p.cs-faq Ответ на вопрос 4, может быть длинным.
                                +tab-panel('faq-ch').cs-no-left-padding
                                    .col-md-5.cs-no-left-padding
                                        ul#faq-tabs-ch.nav.nav-pills.nav-stacked
                                            +tab('q1', 'Вопрос 1').active
                                            +tab('q2', 'Вопрос 2')
                                            +tab('q3', 'Вопрос 3')
                                            +tab('q4', 'Вопрос 4')
                                    .col-md-7
                                        .tab-content.cs-faq-res
                                            +tab-panel('q1').active
                                                p.cs-faq Ответ на вопрос 1, может быть длинным CH.
                                            +tab-panel('q2')
                                                p.cs-faq Ответ на вопрос 2, может быть длинным.
                                            +tab-panel('q3')
                                                p.cs-faq Ответ на вопрос 3, может быть длинным.
                                            +tab-panel('q4')
                                                p.cs-faq Ответ на вопрос 4, может быть длинным.
                                +tab-panel('faq-ar').cs-no-left-padding
                                    .col-md-5.cs-no-left-padding
                                        ul#faq-tabs-ar.nav.nav-pills.nav-stacked
                                            +tab('q1', 'Вопрос 1').active
                                            +tab('q2', 'Вопрос 2')
                                            +tab('q3', 'Вопрос 3')
                                            +tab('q4', 'Вопрос 4')
                                    .col-md-7
                                        .tab-content.cs-faq-res
                                            +tab-panel('q1').active
                                                p.cs-faq Ответ на вопрос 1, может быть длинным AR.
                                            +tab-panel('q2')
                                                p.cs-faq Ответ на вопрос 2, может быть длинным.
                                            +tab-panel('q3')
                                                p.cs-faq Ответ на вопрос 3, может быть длинным.
                                            +tab-panel('q4')
                                                p.cs-faq Ответ на вопрос 4, может быть длинным.

                +tab-panel('news').cs-content-inner
                    .row
                        +lang-tabs('news')
                        .col-md-6.col-md-offset-3
                            .tab-content
                                +tab-panel('news-en').active
                                    .cs-news-item
                                        span.label.label-primary.pull-right 10.10.2017
                                        h3 100 тысяч на издание книги уже собрали, но это не предел!
                                        p.
                                            Друзья, мы собрали первые сто тысяч рублей!
                                            Спасибо за поддержку! Но останавливаться рано!
                                            Предзаказ на книгу можно оформить до самого конца проекта
                                            20 сентября 2017, и чем больше книг будет заказано,
                                            тем больший тираж книги будет издан.
                                            А значит знания о мире кофе от одного из ведущих
                                            профессионалов индустрии станут доступнее!
                                            Расскажите о нашем проекте в социальных сетях.

                                    .cs-news-item
                                        span.label.label-primary.pull-right 10.10.2017
                                        h3 100 тысяч на издание книги уже собрали, но это не предел!
                                        p.
                                            Друзья, мы собрали первые сто тысяч рублей!
                                            Спасибо за поддержку! Но останавливаться рано!
                                            Предзаказ на книгу можно оформить до самого конца проекта
                                            20 сентября 2017, и чем больше книг будет заказано,
                                            тем больший тираж книги будет издан.
                                            А значит знания о мире кофе от одного из ведущих
                                            профессионалов индустрии станут доступнее!
                                            Расскажите о нашем проекте в социальных сетях.

                                    .cs-news-item
                                        span.label.label-primary.pull-right 10.10.2017
                                        h3 100 тысяч на издание книги уже собрали, но это не предел!
                                        p.
                                            Друзья, мы собрали первые сто тысяч рублей!
                                            Спасибо за поддержку! Но останавливаться рано!
                                            Предзаказ на книгу можно оформить до самого конца проекта
                                            20 сентября 2017, и чем больше книг будет заказано,
                                            тем больший тираж книги будет издан.
                                            А значит знания о мире кофе от одного из ведущих
                                            профессионалов индустрии станут доступнее!
                                            Расскажите о нашем проекте в социальных сетях.
                                        
                                +tab-panel('news-de')
                                    p 2
                                +tab-panel('news-fr')
                                    p 3
                                +tab-panel('news-ru')
                                    p 4
                                +tab-panel('news-ch')
                                    p 5
                                +tab-panel('news-ar')
                                    p 6

                +tab-panel('comments').cs-content-inner
                    p 4

block scripts
    //