extends ../../components/skeleton

block head
    // TODO

    link(href='css/project.css' rel='stylesheet')

block body
    .container.cs-company
        .row.cs-title
            .col-md-12
                h1 Всемирный атлас кофе
                a(href='#') by Oleg Pavlov
        .row.cs-header
            .col-md-8.cs-image-col
                img.cs-image(src='http://rgho.st/8tXGjMrw7/image.png')

            .col-md-4.cs-info-col
                .cs-title-block
                    h2.cs-title Прогресс
                    +characteristic('earned')
                .cs-details-block
                    h3 332 IDEA
                        small  собрано
                    h3 122%
                        small  от минимальной суммы
                    h3#some-sponsors 485
                        small  спонсоров
                    h3 20 дней
                        small  осталось
                .cs-button-block
                    +button('invest', 'Поддержать').btn-lg.btn-primary.btn-block

        .row.cs-info
            .col-md-12
                hr
                ul#project-tabs.cs-tabs.nav.nav-pills
                    +tab('present', 'Презентация').active
                    +tab('faq', 'Вопрос-Ответ')
                    +tab('news', 'Новости')
                    +tab('comments', 'Комментарии')
                    +tab('exchange', 'Обменник')

            // TODO hidden on start
            .tab-content.cs-content
                +tab-panel('present').cs-content-inner.active
                    .row
                        .col-md-8
                            | Большое объемное описание проекта с картинками
                        .col-md-4
                            .well.cs-project-item
                                p
                                    strong.
                                        Проект завершил сбор средств, но вы всё ещё можете получить один из товаров,
                                        воспользуйтесь обменником.
                                    hr
                                    +button('exchange-link-btn', 'Обменник').btn-primary.btn-block
                            hr
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 25
                                h4 1 IDEA
                                hr
                                p Книга "Всемирный атлас кофе" с доставкой по РФ.
                                strong Включает:
                                ul
                                    li Книга в 1 экземпляре
                                strong Доставка:
                                ul
                                    li по России - 10.10.2018
                                hr
                                +button('buy-1', '<s>Купить</s>').btn-primary.btn-block.disabled
                                hr
                                em Сбор средст завершился, но, возможно, что-то ещё осталось в
                                    a(href='#')  обменнике.
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 18
                                h4 1.1 IDEA
                                hr
                                p Книга "Всемирный атлас кофе" с доставкой по всему миру.
                                strong Включает:
                                ul
                                    li Книга в 1 экземпляре
                                strong Доставка:
                                ul
                                    li по всему миру - 10.10.2018
                                hr
                                +button('buy-2', 'Купить').btn-primary.btn-block
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 2
                                h4 2 IDEA
                                hr
                                p Книга "Всемирный атлас кофе" с доставкой по всему миру.
                                strong Включает:
                                ul
                                    li Книга в 1 экземпляре
                                    li Подпись автора на книге
                                strong Доставка:
                                ul
                                    li по всему миру - 10.10.2018
                                hr
                                .cs-limit
                                    span.label.label-warning Осталось 8 из 10
                                +button('buy-3', 'Купить').btn-primary.btn-block
                            .well.cs-project-item
                                span.label.label-primary.pull-right Куплено 6
                                h4 8 IDEA
                                hr
                                p 10 книг "Всемирный атлас кофе" по специальной оптовой цене.
                                strong Включает:
                                ul
                                    li Книга в 10 экземплярах
                                strong Доставка:
                                ul
                                    li по всему миру - 10.10.2018
                                hr
                                +button('buy-4', 'Купить').btn-primary.btn-block
                                    

                +tab-panel('faq').cs-content-inner
                    .row
                        .col-md-5
                            ul.nav.nav-pills.nav-stacked
                                +tab('q1', 'Вопрос 1').active
                                +tab('q2', 'Вопрос 2')
                                +tab('q3', 'Вопрос 3')
                                +tab('q4', 'Вопрос 4')
                        .col-md-7
                            .tab-content.cs-faq-res
                                +tab-panel('q1').active
                                    p.cs-faq Ответ на вопрос 1, может быть длинным.
                                +tab-panel('q2')
                                    p.cs-faq Ответ на вопрос 2, может быть длинным.
                                +tab-panel('q3')
                                    p.cs-faq Ответ на вопрос 3, может быть длинным.
                                +tab-panel('q4')
                                    p.cs-faq Ответ на вопрос 4, может быть длинным.
                                    

                +tab-panel('news').cs-content-inner
                    .row
                        .col-md-6.col-md-offset-3
                            .cs-news-item
                                span.label.label-primary.pull-right 10.10.2017
                                h3 100 тысяч на издание книги уже собрали, но это не предел!
                                p.
                                    Друзья, мы собрали первые сто тысяч рублей!
                                    Спасибо за поддержку! Но останавливаться рано!
                                    Предзаказ на книгу можно оформить до самого конца проекта
                                    20 сентября 2017, и чем больше книг будет заказано,
                                    тем больший тираж книги будет издан.
                                    А значит знания о мире кофе от одного из ведущих
                                    профессионалов индустрии станут доступнее!
                                    Расскажите о нашем проекте в социальных сетях.

                            .cs-news-item
                                span.label.label-primary.pull-right 10.10.2017
                                h3 100 тысяч на издание книги уже собрали, но это не предел!
                                p.
                                    Друзья, мы собрали первые сто тысяч рублей!
                                    Спасибо за поддержку! Но останавливаться рано!
                                    Предзаказ на книгу можно оформить до самого конца проекта
                                    20 сентября 2017, и чем больше книг будет заказано,
                                    тем больший тираж книги будет издан.
                                    А значит знания о мире кофе от одного из ведущих
                                    профессионалов индустрии станут доступнее!
                                    Расскажите о нашем проекте в социальных сетях.

                            .cs-news-item
                                span.label.label-primary.pull-right 10.10.2017
                                h3 100 тысяч на издание книги уже собрали, но это не предел!
                                p.
                                    Друзья, мы собрали первые сто тысяч рублей!
                                    Спасибо за поддержку! Но останавливаться рано!
                                    Предзаказ на книгу можно оформить до самого конца проекта
                                    20 сентября 2017, и чем больше книг будет заказано,
                                    тем больший тираж книги будет издан.
                                    А значит знания о мире кофе от одного из ведущих
                                    профессионалов индустрии станут доступнее!
                                    Расскажите о нашем проекте в социальных сетях.

                +tab-panel('comments').cs-content-inner
                    .row
                        .col-md-8.col-md-offset-2
                            .panel.panel-warning.hidden
                                .panel-heading Комментарии доступны только для спонсоров.

                            .cs-send-comment-block
                                +textarea('comment', 'Комментарий...').cs-comment-area
                                +button('send-comment', 'Отправить').pull-right.btn-primary.btn-sm
                                .clearfix

                            .panel.panel-primary
                                .panel-body
                                    span.label.label-primary.pull-right 10.10.2017
                                    h5 Oleg Pavlov
                                    p Знаковая книга о кофе одного из самых известных профессионалов индустрии.

                            .panel.panel-primary
                                .panel-body
                                    span.label.label-primary.pull-right 10.10.2017
                                    h5 Oleg Pavlov
                                    p Знаковая книга о кофе одного из самых известных профессионалов индустрии.

                            .panel.panel-primary
                                .panel-body
                                    span.label.label-primary.pull-right 10.10.2017
                                    h5 Oleg Pavlov
                                    p Знаковая книга о кофе одного из самых известных профессионалов индустрии.

                            p.text-center Загрузка...

                +tab-panel('exchange').cs-content-inner
                    // TODO

block scripts
    //