extends ../../components/skeleton

block head
    title!= erb('l.about.page_title')

block body
    .container
        .row
            .col-md-8.col-md-offset-2.text-center
                h3 ...здесь будет расположено описание, аналогичное описанию сайта ICO, вместе с видео...

block scripts
    //- no scripts