extends ../../components/skeleton

mixin project-constructor(lang)
    .panel.panel-primary
        .panel-heading Основная информация
        .panel-body
            // TODO Количество символов как ограничение
            +input('name-'+lang, 'text', '', 'Имя проекта')
            +textarea('short-'+lang, '', 'Краткое описание проекта')
            +input('logo-'+lang, 'file', '', 'Логотип для страницы поиска')

    .panel.panel-primary
        .panel-heading Детальная информация
        .panel-body
            +input('video-'+lang, 'file', '', 'Видеоролик (необязательно)').cs-video-input
            br
            h5: strong Презентация проекта
            em ..здесь будет расположен многофункциональный редактор текста...

    .panel.panel-primary
        .panel-heading
            .form-inline
                | Вопрос-Ответ
                +chechbox('faq-use-'+lang, true).pull-right
                    em  Не использовать
        .panel-body
            table.table.cs-faq-table
                tr
                    th #
                    th Вопрос
                    th Ответ
                    th: +button-icon('add-faq-'+lang, 'plus').btn-primary.pull-right
                tr
                    td: span.cs-num 1
                    td: +input('faq-q-'+lang+'-1', 'text', 'Вопрос')
                    td: +input('faq-r-'+lang+'-1', 'text', 'Ответ')
                    td: +button-icon('faq-d-'+lang+'-1', 'remove').btn-primary.pull-right
                tr
                    td: span.cs-num 2
                    td: +input('faq-q-'+lang+'-2', 'text', 'Вопрос')
                    td: +input('faq-r-'+lang+'-2', 'text', 'Ответ')
                    td: +button-icon('faq-d-'+lang+'-2', 'remove').btn-primary.pull-right
                tr
                    td: span.cs-num 3
                    td: +input('faq-q-'+lang+'-3', 'text', 'Вопрос')
                    td: +input('faq-r-'+lang+'-3', 'text', 'Ответ')
                    td: +button-icon('faq-d-'+lang+'-3', 'remove').btn-primary.pull-right

    .panel.panel-primary
        .panel-heading Новости
        .panel-body
            table.table.cs-news-table
                tr
                    th #
                    th Заголовок
                    th: +button-icon('add-faq-' + lang, 'plus').btn-primary.pull-right
                tr
                    td: span.cs-num 1
                    td: span Заголовок первой новости
                    td: +button-icon('faq-d-' + lang + '-1', 'pencil').btn-primary.pull-right
                tr
                    td: span.cs-num 2
                    td: span Заголовок второй новости
                    td: +button-icon('faq-d-' + lang + '-2', 'pencil').btn-primary.pull-right
                tr
                    td: span.cs-num 3
                    td: span Заголовок третьей новости
                    td: +button-icon('faq-d-' + lang + '-3', 'pencil').btn-primary.pull-right

    hr
    +button('save-'+lang, 'Сохранить без публикации').btn-primary
    +button('pub-'+lang, 'Опубликовать').btn-primary.pull-right
    .clearfix

block head
    // TODO

    link(href='css/project-constructor.css' rel='stylesheet')

block body
    .container
        .row.cs-form
            .col-md-8.col-md-offset-2
                img(src='img/logo/origin.svg').cs-top-logo.center-block
                h1.text-center Проект на CryptoStarter

        .row.cs-form
            .col-md-8.col-md-offset-2
                +lang-tabs('lang')
                +chechbox('text').cs-no-lang
                    em Не использовать этот язык
                hr

                .tab-content
                    each lang, index in ['en', 'de', 'fr', 'ru', 'ch', 'ar']
                        if index == 0
                            +tab-panel('lang-'+lang).active
                                +project-constructor(lang)
                        else
                            +tab-panel('lang-'+lang)
                                +project-constructor(lang)

        .row.cs-form-all
            .col-md-8.col-md-offset-2
                hr
                +button('pub-all', 'Опубликовать сразу все языки').btn-xs.btn-primary.pull-right
                .clearfix


block scripts
    //
