extends ../../components/skeleton

block head
    // TODO

    link(href='css/project-constructor.css' rel='stylesheet')

block body
    .container
        .row.cs-form
            .col-md-6.col-md-offset-3
                img(src='img/logo/origin.svg').cs-top-logo.center-block
                h1.text-center Проект на CryptoStarter
                hr
                br
                h2 Основная информация
                hr
                // TODO Количество символов как ограничение
                +input('name', 'text', '', 'Имя проекта')
                +textarea('name', '', 'Краткое описание проекта')
                +input('logo', 'file', '', 'Логотип для страницы поиска')
                hr
                h2 Детальная информация
                hr
                +input('video', 'text', 'Ссылка на видео на Youtube', 'Видеоролик').cs-video-input
                div: em: small.
                    При отсутствии видео будет установлена
                    картинка из основной информации о проекте
                br
                h5: strong Презентация проекта
                // TODO CKEditor 4
                p TODO CKEditor 4
                hr
                +button('save', 'Сохранить без публикации').btn-primary
                +button('pub', 'Опубликовать').btn-primary.pull-right
                .clearfix

block scripts
    //