mixin footer-link(href, locale)
    .col-md-2.text-center
        a(href=href)!= erb(locale)

mixin footer
    footer.cs-footer
        .container
            .row
                .col-md-12
                    .text-center
                        a(href='#').cs-social.cs-linked-in
                        a(href='#').cs-social.cs-facebook
                        a(href='#').cs-social.cs-twitter
                        a(href='#').cs-social.cs-telegram
                        a(href='#').cs-social.cs-mail
            .row
                .col-md-12.cs-copyright-col
                    span.cs-copyright Copyright Crypto
                        span.cs-brand-main-color Starter