mixin footer-link(href, locale)
    .col-md-2.text-center
        a(href=href)!= erb(locale)

mixin footer
    footer.cs-footer
        .container
            .row
                .col-md-12
                    +social-icons
            .row
                .col-md-12.cs-copyright-col
                    span.cs-copyright Copyright Crypto
                        span.cs-brand-main-color Starter