mixin footer-link(href, locale)
    .col-md-2.text-center
        a(href=href)!= erb(locale)

mixin footer
    footer.cs-footer
        .container
            .row
                .col-md-12
                    //- TODO social

            .row
                +footer-link('#ico',      'l.main_menu.ico')
                +footer-link('#docs',     'l.main_menu.docs')
                +footer-link('#roadmap',  'l.main_menu.timeline')
                +footer-link('#media',    'l.main_menu.media')
                +footer-link('#team',     'l.main_menu.team')
                +footer-link('#register', 'l.main_menu.register')

            .row
                .col-md-12.cs-copyright-col
                    span.cs-copyright Copyright Crypto
                        span.cs-brand-main-color Starter