mixin ico-block
    #ico.row
        .col-md-12
            .text-center
                +icon('briefcase').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.ico')
            //- TODO ICO information