extends ../../components/skeleton
include ../../components/social-icons

include wow-slider
include project

block head
    meta(name='keywords'    content='CryptoStarter, crowdfunding, blockchain, IdeaCoin')
    meta(name='description' content='CryptoStarter landing')
    meta(name='author'      content='CryptoStarter')

    link(href='css/index.css' rel='stylesheet')
    link(href='css/wow-slider.css' rel='stylesheet')

    title CryptoStarter

block body
    +wow-slider

    .container
        ul#project-tabs.cs-project-tabs.nav.nav-pills
            +tab('active-projects', 'Активные проекты').active
            +tab('prepared-projects', 'Скоро стартуют')
            +tab('done-projects', 'Завершенные проекты')
            
        .tab-content.cs-project-tabs-content
            mixin projects-area
                .row
                    .col-md-4
                        +project
                    .col-md-4
                        +project
                    .col-md-4
                        +project

            +tab-panel('active-projects').hidden.active
                +projects-area

            +tab-panel('prepared-projects').hidden
                +projects-area

            +tab-panel('done-projects').hidden
                +projects-area

            #loading.row.cs-loading
                .col-md-12
                    p.text-center Загрузка...

block scripts
    script(src='js/lib/wow-slider-tools.js')
    script(src='js/lib/wow-slider.js')
