extends ../../components/skeleton
include ../../components/social-icons

include wow-slider
include project

block head
    title!= erb('l.index.page_title')

    link(href='css/index.css' rel='stylesheet')
    link(href='css/wow-slider.css' rel='stylesheet')

block body
    +wow-slider

    .container
        ul.cs-project-tabs.nav.nav-pills
            +tab('active-projects', erb('l.index.active_projects'), 'flash').active
            +tab('prepared-projects', erb('l.index.prepared_projects'), 'time')
            +tab('done-projects', erb('l.index.done_projects'), 'ok-circle')
            
        .tab-content.cs-project-tabs-content
            mixin projects-area(collection)
                .row
                    != erb_cond('d.' + collection + '.each do |project|')
                    .col-md-4
                        +project(
                            erb('project.id'),
                            erb('project.img'),
                            erb('project.title'),
                            erb('project.description'),
                            erb('project.progress'),
                            erb('project.count'),
                            erb('project.percent'),
                            erb('project.days')
                        )
                    != erb_cond('end')

            +tab-panel('active-projects').hidden.active
                +projects-area('active_projects')

            +tab-panel('prepared-projects').hidden
                +projects-area('prepared_projects')

            +tab-panel('done-projects').hidden
                +projects-area('done_projects')

block scripts
    script(src='js/lib/wow-slider-tools.js')
    script(src='js/lib/wow-slider.js')
