mixin register-block
    #register.row
        .col-md-12
            .text-center
                +icon('th-large').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.register')

    .row        
        .col-md-6.col-md-offset-3
            p!= erb('l.register.hint')
    .row
        .col-md-6.col-md-offset-3
            hr
            .form-group
                +input(
                    'project',
                    'text',
                    erb('l.register.project_name_placeholder'),
                    erb('l.register.project_name_label')
                )
            .form-group
                +input(
                    'email',
                    'email',
                    erb('l.register.email_placeholder'),
                    erb('l.register.email_label')
                )
            .form-group
                +textarea(
                    'description',
                    erb('l.register.description_placeholder'),
                    erb('l.register.description_label'),
                    6
                )
            .form-group
                // Spam honey pot
                +input('message').hidden
            hr
            .form-group
                +button('send', erb('l.register.register_project_button')).btn-primary.pull-right

        - var id = 'register-modal';
        +window(id)
            +window-header(id, erb('l.register.success_modal_title'))
            +window-body(id)
                p!= erb('l.register.success_modal_text')
            +window-footer(id)
                +window-button-ok