mixin roadmap-point(date, title, text, no_icon)
    .cs-roadmap-point&attributes(attributes)
        span.label.label-info.pull-right!= date
        h4!= title
        p!= text
        block
    div.text-center
        unless no_icon
            +icon('chevron-down')

mixin roadmap-block
    #roadmap.row
        .col-md-12
            .text-center
                +icon('map-marker').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.roadmap')

    .row
        .col-md-4.col-md-offset-4
            +roadmap-point(
                erb('l.roadmap.start.date'),
                erb('l.roadmap.start.title'),
                erb('l.roadmap.start.description')
            ).cs-roadmap-marked
            +roadmap-point(
                erb('l.roadmap.alpha_1.date'),
                erb('l.roadmap.alpha_1.title'),
                erb('l.roadmap.alpha_1.description')
            ).cs-roadmap-marked
            +roadmap-point(
                erb('l.roadmap.alpha_2.date'),
                erb('l.roadmap.alpha_2.title'),
                erb('l.roadmap.alpha_2.description')
            ).cs-roadmap-marked
            +roadmap-point(
                erb('l.roadmap.beta_1.date'),
                erb('l.roadmap.beta_1.title'),
                erb('l.roadmap.beta_1.description')
            ).cs-roadmap-marked
            +roadmap-point(
                erb('l.roadmap.beta_2.date'),
                erb('l.roadmap.beta_2.title'),
                erb('l.roadmap.beta_2.description')
            )
            +roadmap-point(
                erb('l.roadmap.ico.date'),
                erb('l.roadmap.ico.title'),
                erb('l.roadmap.ico.description')
            ).cs-roadmap-important
            +roadmap-point(
                erb('l.roadmap.early.date'),
                erb('l.roadmap.early.title'),
                erb('l.roadmap.early.description')
            )
            +roadmap-point(
                erb('l.roadmap.v1.date'),
                erb('l.roadmap.v1.title'),
                erb('l.roadmap.v1.description')
            )
            +roadmap-point(
                erb('l.roadmap.post_ico.date'),
                erb('l.roadmap.post_ico.title'),
                erb('l.roadmap.post_ico.description')
            )
            +roadmap-point(
                erb('l.roadmap.stock.date'),
                erb('l.roadmap.stock.title'),
                erb('l.roadmap.stock.description')
            )
            +roadmap-point(
                erb('l.roadmap.v2.date'),
                erb('l.roadmap.v2.title'),
                erb('l.roadmap.v2.description')
            )
            +roadmap-point(
                erb('l.roadmap.v3.date'),
                erb('l.roadmap.v3.title'),
                erb('l.roadmap.v3.description')
            )
            +roadmap-point(
                erb('l.roadmap.frame.date'),
                erb('l.roadmap.frame.title'),
                erb('l.roadmap.frame.description')
            )
            +roadmap-point(
                erb('l.roadmap.v4.date'),
                erb('l.roadmap.v4.title'),
                erb('l.roadmap.v4.description'),
                true
            )