mixin roadmap-point(type, no_icon)
    .cs-roadmap-point&attributes(attributes)
        span.label.label-info.pull-right!= erb('l.roadmap.' + type + '.date')
        h4!= erb('l.roadmap.' + type + '.title')
        p!= erb('l.roadmap.' + type + '.description')
        block
    div.text-center
        unless no_icon
            +icon('chevron-down')

mixin roadmap-block
    #roadmap.row
        .col-md-12
            .text-center
                +icon('map-marker').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.roadmap')

    .row
        .col-md-4.col-md-offset-4
            +roadmap-point('start').cs-roadmap-marked
            +roadmap-point('alpha_1').cs-roadmap-marked
            +roadmap-point('alpha_2').cs-roadmap-marked
            +roadmap-point('demo').cs-roadmap-marked
            +roadmap-point('smart').cs-roadmap-marked
            +roadmap-point('beta_1').cs-roadmap-marked
            +roadmap-point('pre_ico').cs-roadmap-important
            +roadmap-point('beta_2')
            +roadmap-point('ico').cs-roadmap-important
            +roadmap-point('early')
            +roadmap-point('release1')
            +roadmap-point('post_ico')
            +roadmap-point('listing')
            +roadmap-point('release2')
            +roadmap-point('release3')
            +roadmap-point('frame', true)
            +roadmap-point('release4')