mixin social-icons
    .text-center&attributes(attributes)
        a(href='https://bitcointalk.org/index.php?topic=2606195.0').cs-social.cs-bitcointalk
        a(href='https://plus.google.com/109715668474192808218').cs-social.cs-gplus
        a(href='https://www.facebook.com/cryptostarter.io').cs-social.cs-facebook
        a(href='mailto:cryptostarter.io@gmail.com').cs-social.cs-mail
        a(href='#').cs-social.cs-linked-in
        a(href='https://twitter.com/cryptostarterio').cs-social.cs-twitter
        a(href='https://github.com/cryptostarter').cs-social.cs-github