mixin team-block
    #team.row
        .col-md-12
            .text-center
                +icon('user').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.team')
    .row
        .col-md-2.col-md-offset-3
            img.img-thumbnail(src='img/team/oleg.jpg')
            h2.text-center Oleg Pavlov
            p.text-center Основатель, разработчик<br> web-части проекта.
            .cs-social-bright.text-center
                a.cs-social.cs-social-small.cs-linked-in(href='#')
    .row
        .col-md-2.col-md-offset-5
            img.img-thumbnail(src='img/team/oleg.jpg')
            h2.text-center Oleg Pavlov
            p.text-center Основатель, разработчик<br> web-части проекта.
            .cs-social-bright.text-center
                a.cs-social.cs-social-small.cs-linked-in(href='#')