mixin team-person(name)
    img.img-thumbnail(src='img/team/' + name + '.jpg')
    h2.text-center!= erb('l.team.' + name + '_name')
    p.text-center!= erb('l.team.' + name + '_description')
    .cs-social-bright.text-center
        block

mixin team-block
    #team.row
        .col-md-12
            .text-center
                +icon('user').cs-block-title-icon
            .cs-title-line
            h2.cs-title!= erb('l.title.team')
    .row.cs-team-row
        .col-md-2.col-md-offset-3
            +team-person('oleg')
                a.cs-social.cs-social-small.cs-linked-in(href='https://www.linkedin.com/in/oleg-pavlov-8802a3113/')
        .col-md-2.col-md-offset-2
            +team-person('alex')
                a.cs-social.cs-social-small.cs-linked-in(href='#')
    .row.cs-team-row
        .col-md-2.col-md-offset-3
            +team-person('gregor')
                a.cs-social.cs-social-small.cs-linked-in(href='#')
        .col-md-2.col-md-offset-2
            +team-person('ostap')
                a.cs-social.cs-social-small.cs-linked-in(href='#')
